{% extends "components/page.html.twig" %}

{% block leftContent %}
    <p>
        Wij geloven in een &lsquo;inclusieve samenleving&rsquo; waarin iedereen in staat gesteld wordt zijn of haar bijdrage te leveren en mee te doen. Dat maken we concreet door een waardevolle ervaringsplek te bieden aan vele vrijwilligers en stagiairs – ook in het <a target="_blank" href="https://www.youtube.com/watch?v=nFac5rMwDpM">Bibliotheekcafé.</a> Alle vrijwilligers krijgen bij ons een ‘maatje’ en een plan om aan eigen leerdoelen te kunnen werken. Studenten vinden in de bibliotheek een stageplaats of krijgen de ruimte om schoolopdrachten uit te voeren. 
    </p>
    <p>
        Ons innovatieteam Expeditie Anton gaf intern de training <a target="_blank" href="https://www.youtube.com/watch?v=75CeoYk2rDk">Design Thinking</a> aan alle medewerkers en via een webinar aan heel bibliotheekland. Een onderdeel van deze training is PAINstorming, waarover Expeditie Anton ook workshops en presentaties gaf tijdens het internationale congres <a target="_blank" href="https://www.expeditie-anton.nl/next-library-2019/">&lsquo;Next Library&rsquo;</a> in Aarhus, Denemarken en het <a target="_blank" href="https://www.expeditie-anton.nl/het-nationale-bibliotheekcongres-2019/">Bibliotheekcongres</a> in Rotterdam. 
    </p>
    <p>
    We zijn overtuigd van de kracht van samenwerken. Als mede-aanjager gingen we in gesprek met de Eindhovense BIS instellingen om het <a target="_blank" href="https://www.bibliotheekeindhoven.nl/dam/bestanden/eindhoven_cultuurmanifest2019a2defdigitaal.pdf">Pamflet Cultuur Eindhoven</a> op te stellen – welke door maar liefst 35 partijen is ondertekend. Een gezamenlijke roep voor een ambitieus cultuurbeleid.
    </p>
    <p>
    In samenwerking met Expat Spouses Initiative en de Gemeente Eindhoven presenteerden we het onderzoek <a target="_blank" href="assets/chapter-five/How-to-make-internationals-feel.mp4">&lsquo;How to make internationals feel more at home in Eindhoven&rsquo;</a> 35 externe (samenwerkings)partners.
    </p>
    <p>
    De input van (jonge) studenten zien we als zeer waardevol in het vormgeven van de toekomst. Een groep van 24 studenten organiseerde binnen de Fontys Minor <a target="_blank" href="https://www.youtube.com/watch?reload=9&v=cKQyyPLfyAg&feature=youtu.be">&lsquo;Your Future Work&rsquo;</a> een activiteit waarbij de focus lag op de verbinding tussen internationals en locals. Dit resulteerde in de activiteit <a target="_blank" href="https://eindhoven.op-shop.nl/3706/intervention-for-happiness/15-01-2020">Intervention for Happiness.</a>
    </p>
{% endblock %}

{% block rightContent %}

    <div class="flex flex-wrap p-6">
        <div class="w-full lg:w-4/5">
            <p class="caption pt-2 text-{{ color }}-dark border-t border-{{ color }}-dark">
                De bibliotheek bood
            </p>
        </div>
    </div>
    <div class="flex flex-wrap p-6 py-0 pb-4">
        <div class="w-full lg:w-4/5 flex flex-wrap">
            <div class="w-1/3">
                <span class="number-xl">23</span><br>
                mensen een <br>leer-werktraject
            </div>
            <div class="w-1/3">
                <span class="number-xl">10</span><br>
                mensen een <br>taaltraject
            </div>
            <div class="w-1/3">
                <span class="number-xl">10</span><br>
                mensen begeleiding <br>naar een betaalde baan
            </div>
        </div>
    </div>

    <div class="flex flex-wrap p-6">
        <div class="w-full lg:w-4/5">
            <p class="caption pt-2 text-{{ color }}-dark border-t border-{{ color }}-dark">
                De bibliotheek bood ruimte/begeleiding aan
            </p>
        </div>
    </div>
    <div class="flex flex-wrap p-6 py-0 pb-4">
        <div class="w-full lg:w-4/5 flex flex-wrap">
            <div class="w-1/2">
                <span class="number-xl">338</span><br>
                vrijwilligers
            </div>
            <div class="w-1/2">
                <span class="number-xl">12</span><br>
                stagairs
            </div>
        </div>
    </div>

    <div class="flex flex-wrap p-6">
        <div class="w-full lg:w-4/5">
            <p class="caption pt-2 text-{{ color }}-dark border-t border-{{ color }}-dark">
                Rondleidingen voor vluchtelingen
            </p>
        </div>
    </div>
    <div class="flex flex-wrap p-6 py-0 pb-4">
        <div class="w-full lg:w-4/5 flex flex-wrap">
            <div class="w-1/2">
                <span class="number-2xl">24</span><br>
                groepen
            </div>
            <div class="w-1/2">
                <span class="number-2xl">259</span><br>
                deelnemers
            </div>
        </div>
    </div>

        <div class="flex flex-wrap p-6">
        <div class="w-full lg:w-4/5">
            <p class="caption pt-2 text-{{ color }}-dark border-t border-{{ color }}-dark">
                Schoolprojecten ouderbetrokkenheid
            </p>
        </div>
    </div>
    <div class="flex flex-wrap p-6 py-0 pb-4">
        <div class="w-full lg:w-4/5 flex flex-wrap">
            <div class="w-1/2">
                <span class="number-xl">155</span><br>
                projecten
            </div>
            <div class="w-1/2">
                <span class="number-xl">1.302</span><br>
                ouders die deelnamen
            </div>
        </div>
    </div>

    <div class="flex flex-wrap p-6">
        <div class="w-full lg:w-4/5">
            <p class="caption pt-2 text-{{ color }}-dark border-t border-{{ color }}-dark"></p>
        </div>
    </div>


{% endblock %}